<ion-modal-view>
	<ion-content class="backgroundGray">
		<button class="noBackground noBorder" style="padding:15px;" ng-click="closeAssign()"><i class="ion ion-android-close colorWhite" style="font-size:25px;"></i></button>
		<form ng-submit="doAssign()" style="margin-top:100px;">
			<div class="list">
				<label class="item item-input noBorder noBackground loginItem">
					<input type="search" ng-model="assignUserData.email" placeholder="Email de l'utilisateur" class="loginInput noBackground colorWhite" ng-change="searchUser()">
					<i class="icon ion-android-done placeholder-icon" ng-if="assignUserData.userId != 0"></i>
				</label>
				<div ng-if="assignUserData.userId != 0">
					<label class="item noBorder noBackground loginItem">
						<ion-checkbox class="button button-block backgroundMainColor noBorder colorWhite" ng-model="assignUserData.isAdmin">Administrateur</ion-checkbox>
					</label>
					<label class="item noBorder noBackground loginItem">
						<ion-checkbox class="button button-block backgroundMainColor noBorder colorWhite" ng-model="assignUserData.isToCall">A appeler</ion-checkbox>
					</label>
					<label class="item noBorder noBackground loginItem">
						<button class="button button-block backgroundMainColor noBorder colorWhite" type="submit">
							<i class="ion ion-android-clipboard" style="width:25px;"></i>Ajouter l'utilisateur
						</button>
					</label>
				</div>
			</div>
		</form>
	</ion-content>
</ion-modal-view>