<ion-view>
  <ion-nav-title>
    {{detail.name}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button ng-if="userGroup.is_admin" class="button button-icon button-clear ion-android-add" ng-click="assignToGroup()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="log in logs | orderBy: '-date'" class="fontSize16 item-text-wrap">
        <b>{{log.date | date : "medium"}}</b><br>
        {{log.user.firstname}} {{log.user.lastname}} <br>
        {{log.state}} <br>
        {{log.content}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>