<ion-view>
  <ion-nav-title>
    {{currentUserGroup.group.name}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button ng-if="currentUserGroup.is_admin" class="button button-icon button-clear ion-android-add" ng-click="newKey()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="key in keys" ng-class="{'borderLeftMainColor': isOpen(key.state), 'borderLeftDoorClosedColor': !isOpen(key.state)}"
      class="fontSize16 card">
        <i class="fa fa-key" style="width:25px;"></i> {{key.name}}
        <ion-option-button ng-if="isOpen(key.state)" class="button-light icon ion-android-lock colorWhite backgroundGray"></ion-option-button>
        <ion-option-button ng-if="!isOpen(key.state)" class="button-light icon ion-android-unlock colorWhite backgroundGray"></ion-option-button>
        <ion-option-button class="button-light icon ion-android-film colorWhite backgroundGray" ng-if="currentUserGroup.is_to_call"></ion-option-button>
        <ion-option-button class="button-light icon ion-android-notifications-off colorWhite backgroundGray" ng-if="currentUserGroup.is_to_call"></ion-option-button>
        <ion-option-button class="button-light icon ion-information-circled colorWhite backgroundGray" ui-sref="app.connectedObjects({ objectToken: key.token, group: currentUserGroup, key: connectedObject })"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-android-delete" ng-if="currentUserGroup.is_admin" ng-click="removeKey(key)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>