<ion-view>
  <ion-nav-title>
    {{currentUserGroup.group.name}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button ng-if="currentUserGroup.is_admin" class="button button-icon button-clear ion-android-add" ng-click="newKey()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="key in keys" ng-class="{'borderLeftMainColor': isOpen(key.state) && !isRinging(key.state), 'borderLeftDoorClosedColor': !isOpen(key.state) && !isRinging(key.state), 'borderLeftYellowColor': isRinging(key.state)}"
      class="fontSize16 card">
        <div class="item-icon-right">
          <i class="ion icon" class="fontSize16" ng-class="{'ion-android-unlock': isOpen(key.state) && !isRinging(key.state), 'ion-android-lock': !isOpen(key.state) && !isRinging(key.state), 'ion-android-notifications': isRinging(key.state)}"></i>{{key.name}}
        </div>
        <ion-option-button ng-if="isOpen(key.state) || isRinging(key.state)" class="button-light icon ion-android-lock colorWhite backgroundGray" ng-click="closeDoor(key)"></ion-option-button>
        <ion-option-button ng-if="!isOpen(key.state) || isRinging(key.state)" class="button-light icon ion-android-unlock colorWhite backgroundGray" ng-click="openDoor(key)"></ion-option-button>
        <ion-option-button class="button-light icon ion-android-notifications-off colorWhite backgroundGray" ng-if="currentUserGroup.is_to_call && !isMute(key.token)" ng-click="muteConnectedObjects(key.token)"></ion-option-button>
        <ion-option-button class="button-light icon ion-android-notifications-off" ng-if="currentUserGroup.is_to_call && isMute(key.token)" ng-click="unmuteConnectedObjects(key.token)"></ion-option-button>
        <ion-option-button class="button-light icon ion-information-circled colorWhite backgroundGray" ng-click="viewDetail(key)"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-android-delete" ng-if="currentUserGroup.is_admin" ng-click="removeKey(key)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>