<ion-view>
  <ion-nav-title>
     {{currentUserGroup.group.name}}
  </ion-nav-title>
  <ion-content>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="key in keys" class="fontSize16 borderLeftMainColor card">
         <i class="fa fa-key" style="width:25px;"></i> {{key.name}}
         <ion-option-button class="button-light icon ion-android-done colorWhite backgroundGray"></ion-option-button>
         <ion-option-button class="button-light icon ion-android-film colorWhite backgroundGray"></ion-option-button>
         <ion-option-button class="button-light icon ion-android-notifications-off colorWhite backgroundGray"></ion-option-button>
         <ion-option-button class="button-light icon ion-help-circled colorWhite backgroundGray" ng-click="viewDetail(key)"></ion-option-button>
         <ion-option-button class="button-assertive icon ion-android-delete"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
