<div id="popup_link_serrure" class="ui small modal">
  <div class="header">
    Associer une serrure
  </div>
  <div class="content">
    <div class="ui form">
      <p style="margin-bottom: 25px;">Veuillez renseigner le token de la clé à associer à ce trousseau.</p>
      <div class="field">
        <div class="ui left icon input">
          <i class="privacy icon"></i>
          <input id="link_serrure_token" name="tokenObject" placeholder="Token de la serrure">
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red button" onclick="closePopupLinkSerrure();">
      Non
    </div>
    <div class="ui green right labeled icon button" onclick="linkSerrurePopupLinkSerrure();">
      Oui
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
