<header class="ui inverted menu">
  <div class="header item">CFGPT</div>
  <a class="item">Mes trousseaux</a>
  <a class="item">Notifications</a>
  <div tabindex="0" class="ui dropdown item">
    Mon compte
    <i class="dropdown icon"></i>
    <div tabindex="-1" class="menu">
      <div class="item">Profil</div>
      <div class="divider"></div>
      <div class="item">Logs</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent inverted icon input">
        <i class="search icon"></i>
        <input kl_virtual_keyboard_secure_input="on" placeholder="Search" type="text">
      </div>
    </div>
    <a class="item">Se déconnecter</a>
  </div>
</header>
