<header>
  <ul>
    <li><a href="/groups">Trousseaux</a></li>
    <li><a href="/logs">Mes Logs</a></li>
    <li><a href="/user">Mon compte</a></li>
    <li><a>Notifications</a></li>
    <li><a href="/logout">Déconnexion</a></li>
  </ul>
</header>
