<header class="ui inverted teal menu">
  <div class="header item"><img src="/images/logoTest.png"> <span style="margin-left:10px;font-size:18px;">CFGPT</span></div>
  <a class="item" href="/trousseaux"><i class="key icon"></i>Mes trousseaux</a>
  <a id="header_notif" class="item" onclick="showPopupNotifications();">
    <i class="alarm icon"></i>Notifications
  </a>
  <div tabindex="0" class="ui dropdown item">
    <i class="user icon"></i>
    Mon compte
    <i class="dropdown icon"></i>
    <div tabindex="-1" class="menu">
      <div class="item">Profil</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item" style="font-weight:bold;">
        Vous êtes connecté en tant que : <%= _user.firstname + ' ' + _user.lastname %>
    </div>
    <a class="item" href="/logout"><i class="sign out icon"></i>Se déconnecter</a>
  </div>
</header>
