html, body{
	color: white !important;
}

.backgroundGray{
	background-color: $colorDarkGray !important;
	a{
		background-color: $colorDarkGray !important;
	}
}

.colorRose{
	color: $colorRose !important;
}
.backgroundRose{
	background-color: $colorRose !important;
}

.noBorder{
	border: 0 !important;
}

.colorWhite{
	color: white !important;
}

.borderColorSemiDarkGray{
	border-color: $colorSemiDarkGray;
}