<div>
  <div>
    <form id="form_connexion" action="/app/login" method="post">
      <div>
        <div class="">
          <input id="email" type="text" name="email" placeholder="Enter your email">
          <label for="email">Email</label>
        </div>
        <div class="">
          <input id="password" type="password" name="password" >
          <label for="password">Mot de passe</label>
        </div>
      </div>
      <button class="" type="submit">Connexion</button>
    </form>

    <p>Vous n'avez pas de compte ? </p>
    <a class="" href="inscription">Inscrivez-vous !</a>
  </div>
</div>
