<div class="ui small modal">
  <div class="header">
    Création d'un trousseau
  </div>
  <div class="content">
    <div class="ui form">
      <p style="margin-bottom: 25px;">Veuillez indiquer le nom de votre nouveau trousseau avant sa création.</p>
      <div class="field">
        <div class="ui left icon input">
          <i class="privacy icon"></i>
          <input id="add_trousseau_name" name="name" placeholder="Nom du trousseau">
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red button" onclick="closePopupAjoutTrousseau();">
      Non
    </div>
    <div class="ui green right labeled icon button" onclick="addTrousseauPopupAjoutTrousseau();">
      Oui
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
